@import "breakpoints.scss";

.square {
  display: flex;
  flex-grow: 1;
  height: 200px;
}

.square3 {
  display: flex;
  flex-grow: 1;
  height: 200px;
  background-color: #0ff0ff;
}
span {
  padding: 8px;
  text-transform: lowercase;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: #faebd7;
  border-radius: 4px;
  margin: auto;
}

.square:nth-child(1) {
  background-color: #ff7f50;
}

.square:nth-child(2) {
  background-color: #006400;
}

@include for-medium-up {
  .section {
    display: flex;
    flex-grow: 2;
  }
}

@include for-large-up {
  .box {
    display: flex;
  }
}
