* {
  box-sizing: border-box;
}
.container {
  margin: 16px;
}
.rect {
  width: 100px;
  height: 100px;
  background-color: coral;
  margin-bottom: 16px;
  opacity: 0.5;
  transition-property: width 1s, opacity 5s;
}
.rect:hover {
  width: 100%;
  opacity: 1;
  transition-property: width 1s, opacity 5s;
}
.rect:nth-child(2) {
  -webkit-transition-timing-function: ease;
}
.rect:nth-child(3) {
  transition-timing-function: ease-in-out;
}
.rect:nth-child(4) {
  transition-timing-function: ease-in;
}
.rect:nth-child(5) {
  transition-timing-function: ease-out;
}
